{{#partial "content"}}
    <div class ="cards">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th scope="col"> Ranger's Name:</th>
                <th scope="col"> Species:</th>
                <th scope="col"> Location:</th>
                <th scope="col"> TimeSpotted:</th>
            </tr>
            </thead>
            <tbody>
            <tr>
            {{#if sightings}}
                {{#each sightings}}
                        <td>{{ rangerName }}</td>
                        <td>{{ species }}</td>
                        <td>{{ location}}</td>
                        <td>{{ timeSpotted}}</td>
                    </tr>
                {{/each}}
            {{else}}
                <p>No Sightings Recorded yet !</p>
            {{/if}}
            <p>current sightings :</p>
            </tbody>
        </table>
        <a href="/sightings/delete"><button style="font-weight:10px;" name="submit" type="submit" id="sub" >DELETE All sightings</button></a>
        <a href="/"><button style="font-weight:10px;" name="submit" type="submit" id="sub" >Back!</button></a>

    </div>
{{/partial}}

{{> layout.hbs}}